@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
	--body-background: #F9FAFB;
	--card-background: #FFFFFF;
	--color-primary: #000000;
	--color-secondary: #6C727F;
	--color-tertiary: #E5E7EB;
	--button-primary: #3662E3;
}

/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
	margin: 0;
	padding: 0;
	display: block;
	margin-block-start: 0;
	margin-block-end: 0;
	margin-inline-start: 0;
	margin-inline-end: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

* {
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
	min-height: 100vh;
	padding: 30px;
	background-color: var(--body-background);
}

.heading {
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	font-size: 3rem;
}

.subheading {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-size: 1.25rem;
	color: var(--color-secondary);
}

.placeholder {
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	font-size: 1rem;
}

.button-text {
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	font-size: 1rem;
}

.helper-text {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-size: 0.875rem;
	color: var(--color-secondary);
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	margin-top: 85px;
	background-color: var(--body-background);
}

.newsletter-image {
	width: 52px;
	height: 52px;
	margin-bottom: 20px;
}

.subheading {
	text-align: center;
	max-width: 725px;
}

.subheading:nth-child(1) {
	margin-top: 10px;
}

.card {
	height: 235px;
	width: 550px;
	margin-top: 65px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
	padding: 25px;
	border-radius: 20px;
	background-color: var(--card-background);
}

form {
	display: flex;
	flex-direction: column;
}

input {
	height: 60px;
	border: 1px solid var(--color-tertiary);
	border-radius: 10px;
	padding: 10px 20px;
	background-color: var(--body-background);
	margin-bottom: 25px;
}

input:placeholder {
	align-self: center;
}

input::-webkit-input-placeholder {
	text-align: center;
}

.button-text {
	height: 60px;
	background-color: var(--button-primary);
	color: var(--card-background);
	padding: 10px 20px;
	border-radius: 10px;
	border: none;
	margin-bottom: 25px;
}

.helper-text {
	text-align: center;
}
