@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
	--body-background: #F9FAFB;
	--card-background: #FFFFFF;
	--color-primary: #000000;
	--color-secondary: #6C727F;
	--color-tertiary: #E5E7EB;
	--button-primary: #3662E3;
}

/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

* {
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	padding: 30px;
}

.heading {
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	font-size: 3rem;
}

.subheading {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-size: 1.25rem;
}

.placeholder {
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	font-size: 1rem;
}

.button-text {
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	font-size: 1rem;
}

.helper-text {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-size: 0.875rem;
}